.sidebarCard {
  align-items: center;
  background: white;
  border: 1px solid var(--border-default-grey);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 2rem;

  @media (min-width: 768px) {
    margin-top: 0rem;
  }
}

.sidebarTitle {
  white-space: nowrap;
  line-height: 3rem;
  margin: 0;
}

.sidebarOwner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
}

.sidebarHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.sidebarOwnerButton {
  width: 100%;
  display: flex;
  justify-content: center;
}

.sidebarSeparator {
  width: 100%;
  margin-top: 1.5rem;
}

.otherBadge {
  background-color: #fee7fc;
  color: #6e445a;
}

.image {
  object-fit: scale-down;
}
