API_URL=https://mle-back-staging.osc-secnum-fr1.scalingo.io/api
API_AUTH_BASE_URL=https://mle-back-staging.osc-secnum-fr1.scalingo.io

BASE_URL=https://test.monlogementetudiant.beta.gouv.fr/

NEXT_PUBLIC_MATOMO_URL=xxx
NEXT_PUBLIC_MATOMO_SITE_ID=xxx
NEXT_PUBLIC_APP_ENV=development
NEXT_PUBLIC_TALLY_URL=xxx

NEXT_PUBLIC_GITBOOK_URL=https://mon-logement-etudiant.gitbook.io/partenaire.monlogementetudiant.gouv.fr/~/changes/3/
NEXT_PUBLIC_CALENDLY_URL=https://calendly.com/cecilia-foret-beta/start-up-d-etat-mon-logement-etudiant

AUTH_SECRET="xxx"
ENABLE_PROXY_LOGS=false

DATABASE_URL=postgres://user:password@host:5432/dbname
DATABASE_URL_TEST=postgres://test:test@localhost:5434/jde_test
