BASE_URL=https://test.monlogementetudiant.beta.gouv.fr/

NEXT_PUBLIC_MATOMO_URL=xxx
NEXT_PUBLIC_MATOMO_SITE_ID=xxx
NEXT_PUBLIC_APP_ENV=development
NEXT_PUBLIC_TALLY_URL=xxx

NEXT_PUBLIC_GITBOOK_URL=https://mon-logement-etudiant.gitbook.io/partenaire.monlogementetudiant.gouv.fr/~/changes/3/
NEXT_PUBLIC_CALENDLY_URL=https://calendly.com/cecilia-foret-beta/start-up-d-etat-mon-logement-etudiant

AUTH_SECRET="xxx"

BREVO_API_KEY=xxx

BREVO_TEMPLATE_MAGIC_LINK=2
BREVO_TEMPLATE_VALIDATION=21
BREVO_TEMPLATE_RESET_PASSWORD=23

DATABASE_URL=postgres://mle:mle@localhost:5490/mle_dev
DATABASE_URL_TEST=postgres://test:test@localhost:5491/mle_test

S3_ENDPOINT=https://s3.gra.io.cloud.ovh.net
S3_REGION=gra
S3_BUCKET=xxx
S3_ACCESS_KEY_ID=xxx
S3_SECRET_ACCESS_KEY=xxx
S3_SUFFIX_DIR=

SCALINGO_API_TOKEN=
SCALINGO_APP=mle-back-staging
SCALINGO_REGION=osc-secnum-fr1
SCALINGO_DB_ADDON_ID=

IBAIL_API_HOST=
IBAIL_API_AUTH_KEY=
IBAIL_API_AUTH_SECRET=

FAC_HABITAT_SFTP_HOST=
FAC_HABITAT_SFTP_PORT=22
FAC_HABITAT_SFTP_USERNAME=
FAC_HABITAT_SFTP_PASSWORD=

MATOMO_URL=
MATOMO_TOKEN=
MATOMO_ID_SITE=

DOSSIERFACILE_CLIENT_ID=
DOSSIERFACILE_CLIENT_SECRET=
DOSSIERFACILE_AUTHORIZE_URL=
DOSSIERFACILE_TOKEN_URL=
DOSSIERFACILE_TENANT_PROFILE_URL=
DOSSIERFACILE_REDIRECT_URI=
DOSSIERFACILE_SCOPE=openid
DOSSIERFACILE_WEBHOOK_API_KEY=

MATTERMOST_WEBHOOK_URL=