.accordionContainer {
  background-color: white;
  @media (min-width: 768px) {
    padding: 3rem 4rem;
  }

  @media (max-width: 768px) {
    padding: 1.5rem;
  }
}

.italic {
  font-style: italic;
}
