.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.inputGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 32px;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
}
