/* Facilitate Section - Blue */
.facilitateSection {
  background-color: #5858ad;
  padding: 2rem 1.5rem;
  color: white;
}

.facilitateSectionContent {
  display: flex;
  flex-direction: column;
  max-width: 1320px;
}

.faciliteSectionContentLeft {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* gap: 2rem; */
}

.faciliteSectionContentLeft > div:first-child {
  padding: 0;
}

.facilitateIllustration {
  display: none;
}

.facilitateIllustrationMobile {
  width: 22rem;
  height: 13.4375rem;
}

.facilitateContent {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.facilitateTitle {
  color: white;
  margin: 0;
}

.highlight {
  color: #fcc63a;
  margin: 0;
}

.facilitateList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.facilitateItem {
  display: flex;
  font-size: 1.125rem;
  color: white;
}

.facilitateItem > div:nth-child(2) > span:nth-child(1) {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.5rem;
}

.facilitateItem > div:nth-child(2) > span:nth-child(2) {
  padding-top: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.25rem;
}

.facilitateIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  font-size: 24px;
  line-height: 1;
}

.facilitateItemBefore {
  display: flex;
  flex-direction: column;
  gap: 0.55rem;
  align-items: center;
  margin-right: 2rem;
}

.facilitateItemBefore > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.facilitateItemBefore > div:nth-child(2) {
  height: 48px;
  width: 1px;
  border-right: 1px solid white;
}

.facilitateButton {
  background-color: white !important;
  color: #5858ad !important;
  width: fit-content;
}

.facilitateButton:hover {
  background-color: #f5f5f5 !important;
}

@media (max-width: 767px) {
  .facilitateTitle,
  .highlight {
    font-size: 1.75rem !important;
    text-align: center;
    padding: 0;
  }

  .facilitateContent {
    padding: 1.5rem 0;
  }

  .facilitateList {
    gap: 1.5rem;
  }

  .facilitateItem > div:nth-child(2) > span:nth-child(1) {
    font-size: 1.375rem;
    line-height: 1.75rem;
  }

  .facilitateItem > div:nth-child(2) > span:nth-child(2) {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .facilitateButton {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .facilitateSection {
    padding: 4rem 7rem 5rem 0;
  }

  .facilitateSectionContent {
    flex-direction: row;
    align-items: center;
  }

  .facilitateSetionontentLeft {
    width: 100%;
  }

  .facilitateIllustration {
    display: flex;
    flex: 0 0 50%;
    justify-content: center;
  }

  .facilitateIllustrationMobile {
    display: none;
  }

  .faciliteSectionContentLeft > div:first-child {
    padding-left: 7.5rem;
  }

  .facilitateContent {
    width: 100%;
    min-width: 509px;
    padding: 3.75rem 0;
  }
}
