/* Facilitate Section - Blue */
.facilitateSection {
  background-color: #5858ad;
  padding: 2rem 0;
  color: white;
}

.highlight {
  color: #fcc63a;
}

.facilitateSectionContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.faciliteSectionContentLeft {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.facilitateIllustration {
  display: none;
}

.facilitateContent {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.facilitateTitle {
  color: white;
  margin: 0;
}

.facilitateList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.facilitateItem {
  display: flex;
  font-size: 1.125rem;
  color: white;
}

.facilitateItem > div:nth-child(2) > span:nth-child(1) {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.5rem;
}

.facilitateItem > div:nth-child(2) > span:nth-child(2) {
  padding-top: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.25rem;
}

.facilitateIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  font-size: 24px;
  line-height: 1;
}

.facilitateItemBefore {
  display: flex;
  flex-direction: column;
  gap: 0.55rem;
  align-items: center;
  margin-right: 2rem;
}

.facilitateItemBefore > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.facilitateItemBefore > div:nth-child(2) {
  height: 48px;
  width: 1px;
  border-right: 1px solid white;
}

.facilitateButton {
  background-color: white !important;
  color: #5858ad !important;
  width: fit-content;
}

.facilitateButton:hover {
  background-color: #f5f5f5 !important;
}

@media (min-width: 768px) {
  .facilitateSection {
    padding: 4rem 7rem 5rem 0;
  }

  .facilitateSectionContent {
    flex-direction: row;
    align-items: center;
  }

  .facilitateIllustration {
    display: flex;
    flex: 0 0 50%;
    justify-content: center;
  }

  .facilitateContent {
    flex: 0 0 50%;
    padding-left: 2rem;
  }
}
