.facilitateSection {
  background-color: #5858ad;
}

.faciliteSectionContentLeft {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.facilitateIllustration {
  display: none;
}

.facilitateTitle {
  color: white;
  margin: 0;
}

.highlight {
  color: #fcc63a;
  margin: 0;
}

.facilitateList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.facilitateItem {
  display: flex;
  font-size: 1.125rem;
  color: white;
}

.facilitateItemTitle {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.5rem;
}

.facilitateItemDescription {
  padding-top: 1rem;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.25rem;
}

.facilitateIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  font-size: 24px;
  line-height: 1;
}

.facilitateItemBefore {
  display: flex;
  flex-direction: column;
  gap: 0.55rem;
  align-items: center;
  margin-right: 2rem;
}

.facilitateItemLine {
  height: 48px;
  width: 1px;
  border-right: 1px solid white;
}

.facilitateButton {
  background-color: white !important;
  color: #5858ad !important;
  font-weight: 500;
  font-size: 18px;
  width: fit-content;
}

.facilitateButton:hover {
  background-color: #f5f5f5 !important;
}

@media (max-width: 767px) {
  .facilitateList {
    gap: 1.5rem;
  }

  .facilitateButton {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .faciliteSectionContentLeft {
    flex: 0 0 50%;
    width: auto;
    overflow: hidden;
    margin-left: -5%;
  }

  .facilitateIllustration {
    display: block;
    width: 120%;
    height: auto;
    max-width: none;
  }

  .facilitateIllustrationMobile {
    display: none;
  }
}
