.container {
  background-color: white;
  padding: 4rem 4rem;
  @media (max-width: 768px) {
    padding: 1.5rem 1.5rem;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.required {
  color: red;
}

.imageContainer {
  @media (max-width: 768px) {
    height: 250px;
  }
  width: 100%;
}

.imageContainer img {
  object-fit: cover;
  object-position: left center;
}

.image {
  height: 100%;
  width: 100%;
}

.firstVisitContainer {
  display: flex;
  flex-direction: column;
  @media (max-width: 768px) {
    align-items: center;
  }
}

.dividerContainer {
  position: relative;
  width: 100%;
  text-align: center;
  margin: 2rem 0;
}

.divider {
  background-color: white;
  padding: 0 1rem;
  color: #666666;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
  position: relative;
}

.dividerContainer::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #dddddd;
  z-index: 0;
}
