.container {
  display: flex;
  justify-content: space-between;
}

.mainImage {
  object-fit: cover;
  width: 100%;
}

.mainImageContainer {
  display: flex;
  position: relative;

  & > img {
    cursor: pointer;
  }

  @media (max-width: 768px) {
    width: 100% !important;
  }
}

.photoCountButton {
  background-color: white;
  bottom: 1.5rem;
  left: 1.5rem;
  position: absolute;
}

.photoCount {
  color: var(--text-label-blue-france);
  font-weight: 500;
}

.gridContainer {
  width: 50%;
  overflow: hidden;
}

.gridContainer[data-images="3"] {
  width: 66.67%;
}

.imageGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  cursor: pointer;
}

.imageGrid img {
  object-fit: cover;
}
