.heroCustomFont {
  font-size: 1.75rem;
  line-height: 2.25rem;
  margin: 0;
}

.searchCardInputsContainer {
  display: flex;
  gap: 1rem;
}

@media (min-width: 768px) {
  .heroCustomFont {
    font-size: 3.5rem;
    line-height: 4rem;
    margin: var(--title-spacing);
  }

  .informationGrid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .mainContainer {
    display: flex;
    justify-content: space-between;
  }
  .searchContainer {
    margin-top: -4rem;
    position: relative;
    z-index: 1;
  }
  .searchCard {
    padding: 2rem 3.5rem;
  }
  .searchCardContent {
    flex-direction: row;
  }
  .searchTitle {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .informationGrid {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
  }
  .headerContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 1rem;
  }
  .searchContainer {
    padding: 0;
  }
  .searchCardContent {
    flex-direction: column;
    padding: 2rem 1.5rem;
  }
  .searchTitle {
    text-align: center;
  }
  .searchCardInputsContainer {
    flex-direction: column;
  }
}

.mobileImageContainer {
  display: flex;
}

.mobileImage {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
}

.heroTitle {
  color: white;
}

.heroTitleHighlight {
  color: var(--yellow-moutarde-850-200);
}

.informationItem {
  color: white;
  flex: 1;
}

.searchCard {
  background-color: white;
  box-shadow: 0 6px 18px 0 rgba(0, 0, 18, 0.16);
}

.searchCardContent {
  display: flex;
}

.popularCitiesSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
