.container {
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.16);
  max-width: 344px;
}

.itemToDoBorder {
  border-bottom: 4px solid #002191;
}

.itemDoneBorder {
  border-bottom: 4px solid #4b9f6c;
}
