.verticalLine {
  width: 0.5rem;
  background-color: #fcc63a;
  position: absolute;
  top: -3rem;
  bottom: -3rem;
  left: 50%;
  transform: translateX(-50%);
}

.circleTop,
.circleBottom {
  position: absolute;
  left: 50%;
  width: 2rem;
  height: 2rem;
  background-color: #fcc63a;
  border-radius: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 0 1rem rgba(0, 0, 18, 0.08);
  z-index: 1;
}

.circleTop::after,
.circleBottom::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1.2rem;
  height: 1.2rem;
  background-color: white;
  border-radius: 50%;
}

.circleTop {
  top: -1rem;
}

.circleBottom {
  bottom: -1rem;
}

.heroContent {
  display: flex;
  gap: 2rem;
}

.heroTextContent {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
}

.heroTitle {
  color: white;
  font-size: 1.75rem;
  line-height: 2.25rem;
  margin: 0;
}

.highlight {
  color: #fcc63a;
}

.heroDescription {
  color: white;
  font-size: 1.5rem;
  line-height: 2.25rem;
  margin: 0;
}

.bold {
  font-weight: bold;
}

.landingHero {
  display: none;
}

@media (max-width: 768px) {
  .contactButton {
    margin-top: 1rem;
  }
  .heroImage {
    display: none;
  }
  .heroContent {
    flex-direction: column;
    padding: 1rem 0rem;
  }
  .heroTitle {
    text-align: center;
  }
  .profileText {
    text-align: center;
  }
  .featuresContainer {
    flex-direction: column;
    text-align: center;
  }
  .heroDescription {
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
  .bottomFeatures {
    flex-direction: column;
  }
  .impactCard {
    height: 350px;
    width: 100%;
  }
  .initiativeCard {
    width: 100%;
  }
  .topFeatureCard {
    flex-direction: column;
  }
  .stepsImage {
    width: 100%;
  }
  .purpleBox {
    height: 260px;
  }
  .stepContent {
    padding: 2rem 2rem;
  }
  .secondStepImage {
    height: 260px;
  }
  .firstStepImage {
    height: 300px;
  }
  .stepsContainer {
    position: relative;
    z-index: 1;
  }
  .verticalLine {
    z-index: -1;
  }
  .callToActionTitle {
    margin-top: 6rem;
  }
  .featureCard {
    padding: 1rem 1.5rem;
  }
}

@media (min-width: 768px) {
  .heroImage {
    display: flex;
    width: 100%;
    overflow: hidden;
  }
  .heroTitle {
    font-size: 3.5rem;
    line-height: 4rem;
  }
  .contactSection {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .profileInfo {
    flex-direction: row !important;
  }
  .landingHero {
    display: block;
  }
  .impactCard {
    width: 50%;
  }
  .initiativeCard {
    width: 50%;
  }
  .topFeatureCard {
    flex-direction: row;
  }
  .stepsContainer {
    display: flex;
    position: relative;
    margin-top: 4rem;
  }
  .callToAction {
    padding: 4rem 0;
  }
  .stepsImage {
    width: 100%;
  }
  .purpleBox {
    height: 450px;
  }
  .stepContent {
    padding: 4.5rem 4rem;
  }
  .verticalLine {
    z-index: 2;
  }
  .callToActionTitle {
    margin-top: 4rem;
  }
  .mainTitle {
    width: 60%;
  }
  .featureCard {
    padding: 2.5rem 3rem;
  }
}

.profileInfo {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  gap: 1rem;
}

.profileText {
  color: white;
}

.profileText p {
  margin: 0;
}

.contactButton {
  align-items: center;
  display: flex;
  justify-content: center;
}

.featureCard {
  background-color: white;
  box-shadow: 0 4px 12px 0px rgba(0, 0, 18, 0.16);
}

.mainContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 4.5rem;
}

.stepIndicator {
  border-radius: 0.25rem;
  background-color: #5757ad;
  color: white;
  font-weight: bold;
  padding: 0 0.5rem;
  width: fit-content;
}

.poingContainer {
  position: absolute;
  width: 100%;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

.poingContainer img {
  height: auto;
}

.mainSection {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 4.5rem;
}

.mainTitle {
  margin: 0;
  text-align: center;
}

.featuresContainer {
  display: flex;
  gap: 2rem;
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.featureImageContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
}

.rightFeatures {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}

.topFeatureCard {
  align-items: center;
  background-color: white;
  box-shadow: 0 4px 12px 0px rgba(0, 0, 18, 0.16);
  display: flex;
  gap: 1.5rem;
  padding: 2.5rem 3rem;
}

.bottomFeatures {
  display: flex;
  gap: 1rem;
  height: 100%;
  width: 100%;
}

.impactCard {
  background-color: #5757ad;
  box-shadow: 0 4px 12px 0px rgba(0, 0, 18, 0.16);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2.5rem 3rem;
  position: relative;
}

.impactCard h4 {
  color: white;
  margin: 0;
}

.initiativeCard {
  background-color: white;
  box-shadow: 0 4px 12px 0px rgba(0, 0, 18, 0.16);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2.5rem 3rem;
}

.missionTitle {
  text-align: center;
  margin-bottom: 8rem;
}

.stepColumn {
  display: flex;
  flex-direction: column;
}

.stepContent {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 450px;
  justify-content: center;
}

.stepBadge {
  background-color: #5757ad;
  border-radius: 0.25rem;
  color: white;
  font-weight: bold;
  padding: 0 0.5rem;
  width: fit-content;
}

.noMargin {
  margin: 0;
}

.logoContainer {
  display: flex;
  gap: 1rem;
}

.callToAction {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.callToActionTitle {
  text-align: center;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.profileContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.profileDetails {
  text-align: center;
}

.profileName {
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 2rem;
  margin: 0;
}

.partnersTitle {
  text-align: center;
}

.partnersContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.partnersSection {
  background-color: white;
}

.avatarYasmine {
  position: absolute;
  left: 45px;
}
