.faqContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.description {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.75rem;
  margin: 0;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title {
  width: 45%;
}

.border {
  width: 100%;
}

.italic {
  font-style: italic;
}
