.accommodationsContainer {
  border: 1px solid #ddd;
  border-radius: 1rem;
  padding: 1.5rem;
}

.mainContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.borderLeft {
  border-left: 1px solid #ddd;
}

@media (max-width: 768px) {
  .mainContainer {
    grid-template-columns: 1fr;
  }
  .borderLeft {
    border-left: none;
  }
}

.studioContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.borderRight {
  border-right: 1px solid #ddd;
}

.warrantyContainer {
  margin-top: 1rem;
}

.section {
  border-bottom: 1px solid #e5e5e5;
  padding: 1rem 1rem;
}

@media (min-width: 768px) {
  .section {
    padding: 3rem 3.5rem;
  }
}

.pricesTiles {
  display: flex;
  gap: 0.25rem;
}

.appartmentsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-start;
}

.simulatorContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sectionContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.borderRightGrid {
  border-right: 1px solid #ddd;
  width: 100%;
}

@media (max-width: 768px) {
  .borderRightGrid {
    border-right: none;
  }
}
