.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }
  .cardContainer {
    padding: 4rem 4rem;
  }
}

.cardContainer {
  padding: 2rem 2rem;
}

.title {
  margin-bottom: 0.5rem;
}
