@import url("./helpers/display.css");
@import url("./helpers/flex.css");
@import url("./helpers/text.css");
@import url("./helpers/dropdown.css");
@import url("./helpers/size.css");
@import url("./helpers/border.css");
@import url("./helpers/position.css");
@import url("./helpers/skeleton.css");
@import url("./helpers/colors.css");
@import url("./helpers/link.css");

span[class^="ri-"]::before,
span[class^="fr-"]::before {
  --icon-size: 1rem;
  margin-right: 0.5rem;
}

.whiteButton {
  color: white;
  box-shadow: inset 0 0 0 1px white;
}

.whiteButton:hover {
  color: initial;
}

.boxShadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.primaryBackgroundColor {
  background-color: #5858ad;
}
