.toast {
  max-width: 480px !important;
  border-radius: 8px;
  box-shadow: 0 8px 24px -6px rgb(0 0 36 / 12%);
  overflow: hidden;
  background-color: var(--background-default-grey);
}

.toastContent {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  gap: 1rem;
}

.action {
  background: transparent !important;
  text-decoration: underline;
}
